body {
    margin: 0;
    overflow: hidden; /* empêche les scrollbars */
}
canvas {
    display: block;   /* supprime les petits espaces autour du canvas */
}
.zoneTexte { /* paramètre de la zone de saisie */
  position: absolute;
  display: none;
  z-index: 20;
  font-size: 20px;
  padding: 6px;
  border: 2px solid #000;
  background: white;
  transform: translate(-50%, -50%); /* CENTRE l'input sur son point */
}
#menu1,#menu2,#menu3 { 
  border: 1px solid #020202;
  position: absolute; /* positionné par rapport à la fenêtre */
  transform: translate(-50%, -50%);
  font-size: 25px;
  padding: 6px; 
  z-index: 10; /* au-dessus du canvas */
  text-align-last: center; /* centrer le texte choisi dans le bouton */
}
#monBouton {
  position: absolute;
  top: 50%;         /* centré verticalement */
  left: 50%;        /* centré horizontalement */
  transform: translate(-50%, -50%);
  
  z-index: 20;      /* plus haut que le canvas */

  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid black;
  background: white;
  cursor: pointer;
}